@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@300&display=swap");

body {
  font-family: "Play", sans-serif;
}
body,
main {
  display: grid;
  justify-content: center;
  align-content: center;
}
section > div,
select,
button {
  border-radius: 5px;
  font-size: 18px;
}
h1 {
  grid-column: 1 / -1;
  font-size: 2rem;
}
/* cards container */
section {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  text-align: center;
  gap: 1rem;
}
/* cards */
.back {
  width: 100%;
  height: 150px;
  margin: 0;
  background-color: purple;
}
.front {
  background-color: black;
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}
/* button/select container */
main > div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}
